<div style="background-color: rgb(151, 139, 201)"> 
<div id="header">
<h1>Informations</h1>
<h2>NEWS</h2>
</div>
<hr />
<div id="latest-post" class="post">
<p class="byline"><span>Posté le 15 Janvier 2017</span></p>
<div class="entry"><img src="assets/images1/ima.png" alt="" class="left" height="200" width="300" />
Le Journal Universitaire partage ce communiqué portant sur les dates de démarrage de la Codification COUD 2017 à l’UCAD. Le communiqué nous a été transmis par la Direction du COUD.
La Direction du COUD informe la communauté universitaire que la commission technique chargée de l’affectation des lits a achevé les travaux de pré-codification le mercredi 22 Mars 2017.  
Tout en félicitant l’ensemble des membres de la commission technique, la Direction du COUD a retenu la date du Lundi 03 Avril 2017 prochain pour le démarrage de la codification.
</div>
</div>
<div id="recent-posts">
<h2>L'informations continues</h2>
<ul>
<li class="first">
<h3>Nos Projets</h3>
<p><strong>[Dec. 05]</strong> 
Le gouvernement met en œuvre depuis quelques mois un plan de modernisation et d’extension du parc de résidences universitaires gérées par le COUD.
Ce programme appelé Campus social d’excellence d’un montant de 39 milliards de FCFA a été instauré avec l’appui de partenaires techniques et financiers.
• 23 nouveaux pavillons seront construits : 15 au grand campus, 3 à la cité ASJ et 5 à l’ESP.
• 18 264 lits dont 13 753 nouveaux répartis comme suit : 10 925 pour le grand campus, 4 561 pour l’ASJ et 2 778 pour l’ESP.
• 915 lits seront attribués aux étudiants à mobilité réduite au niveau des trois campus.
</p>
</li>
<li>
<h3>Annonce</h3>
<p><strong>[Dec. 01]</strong> Donec leo, vivamus
fermentum nibh in augue praesent a lacus at urna congue rutrum. Quisque
dictum integer nisl risus, sagittis convallis, rutrum id, congue, and
nibh. Duis enim nulla, luctus eu, dapibus lacinia, venenatis id, quam.
Vestibulum imperdiet, magna nec imperdiet, magna nec imperdiet, magna
nec ipsum dolor eleifend.</p>
</li>
<li>
<h3>Annonce</h3>
<p> Donec leo. Vivamus
fermentum nibh in augue. Praesent a lacus at urna congue rutrum. Nulla
enim eros, porttitor eu, tempus id, varius non, nibh. Duis enim nulla,
luctus eu, dapibus lacinia, venenatis id, quam. Vestibulum imperdiet,
magna nec eleifend rutrum, nunc lectus vestibulum velit, euismod
lacinia quam nisl id lorem.</p>
</li>
</ul>
<div style="clear: both; height: 40px;">&nbsp;</div>
</div>


<div id="footer">
<p class="legal">©2018 All Rights Reserved.</p>
</div>
<div style="font-size: 0.8em; text-align: center; margin-top: 1em; margin-bottom: 1em;">
Design downloaded from <br/>
Supported by <a href="http://www.hosting24.com/" target="_blank">Hosting24.com</a>
</div>
</div>
