.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
    .btn {
        border: none;
        color: white;
        padding: 8px 8px;
        font-size: 10px;
        cursor: pointer;
    }
    
    .success {background-color: #327AAA;box-shadow: 0 5px #666;
  transform: translateY(4px);} /* Green */
    .success:hover {background-color: rgb(236, 67, 25);box-shadow: 0 5px #666;
  transform: translateY(4px);}
    
    .info {background-color: rgb(48, 76, 231);box-shadow: 0 5px #666;
  transform: translateY(4px);} 
    .info:hover {background: #ee3737;box-shadow: 0 5px #666;
  transform: translateY(4px);}
  .deco {background-color: #C42B16;box-shadow: 0 5px #666;
  transform: translateY(4px);} 
    .deco:hover {background: #e92626;box-shadow: 0 5px #666;
  transform: translateY(4px);}
    
    .warning {background-color: rgb(8, 182, 52);box-shadow: 0 5px #666;
  transform: translateY(4px);} /* Orange */
    .warning:hover {background: rgb(218, 75, 40);box-shadow: 0 5px #666;
  transform: translateY(4px);}
    
    .danger {background-color: rgb(25, 214, 57);box-shadow: 0 5px #666666;
  transform: translateY(4px);} /* Red */ 
    .danger:hover {background: rgb(226, 60, 54);box-shadow: 0 5px #666;
  transform: translateY(4px);}
    
    .default {background-color: #4A99E2;box-shadow: 0 5px #948989;/* Gray */ 
  transform:translateY(4px);}
    .default:hover {background: rgb(241, 46, 46);box-shadow: 0 5px rgba(212, 209, 209, 0.54);
  transform: translateY(4px);
  }
