
  
     <link rel="Stylesheet" href="css/app.component.css">
     <div>
     <i class="material-icons">list</i>
    <a routerLink="/reservation"><button class="btn default">RESERVATION</button></a>
    <a routerLink="/connexion"><button class="btn warning">CONNEXION</button></a>
    <a routerLink="/home"><button class="btn danger">CREATION DE COMPTE</button></a>
    <a routerLink="/information"><button class="btn info">INFORMATION</button></a>
     <button class="btn deco" >DECONNEXION</button>
     <div style="float:right;margin-inline-end: 0%;background-color: rgb(156, 156, 172)"> 
     <button><i class="material-icons">account_circle</i></button>
    <button style="background-color:rgb(36, 30, 30)"><i class="material-icons">people</i></button>
    </div>
</div>
<router-outlet></router-outlet>
