
<div style="position:absolute">
<img src="assets/images/images1.jpg" class="rounded float-right" alt="...">
<img src="assets/images/images.jpg" class="rounded float-right" alt="...">
</div>
	<header>
		<section class="adv-content" style="background-color: rgb(223, 17, 17)">
		</section>
  </header>
  

	<section id="content" style="background-color: rgb(64, 29, 221)">
		<div class="top" style="background-color: rgb(28, 26, 189)">
			<div class="container">
				<div class="clearfix">
					<div class="grid3 first">
            <h2>Reservation</h2>
                <ul>
               <li>-choix des batiments</li>
               <li>-choix  des etages </li>
               <li>-choix des chambres</li>
               <li>-choix des  positions de lits</li>
               <li>-lavabo ,douche, et WC</li>
                </ul>
					</div>
					<div class="grid3 first" style="color:blue; width: 100%" >
            <marquee> <h2>FAITES VOTRE RESERVATION</h2></marquee>	
          </div>
						
					</div>
				</div>
			</div>




    <div class="container" >
      <div class="card"></div>
      <div class="card" style="background-color: rgb(49, 15, 202)">
        <h1 class="title">Faites vos choix</h1>
        <form>
            <div class="input-container">
                <p>CHOIX DES BATIMENTS</p>
                <select id="batiment" name="batiment" [(ngModel)]="user.batiment" ><br/>
                  <option value="batimentA">Batiment A</option>
                  <option value="batimentB">Batiment B</option>
                  <option value="batimentC">Batiment C</option>
                  <option value="batimentF">Batiment F</option>
                </select><br/>
                <p>CHOIX DES ETAGES</p>
                <select id="etage" name="etage" [(ngModel)]="user.etage" >
                    <option value="etage1">premier etage</option>
                    <option value="etage2">deuxieme etage</option>
                    <option value="etage3">troisieme etage</option>
                    <option value="etage4">quatrieme etage</option>
                    <option value="etage0">raid de saucet</option>
                </select>
                <P>CHOIX DES COULOIRS</P>
                <select id="couloir" name="couloir"[(ngModel)]="user.couloir" ><br/>
                  <option value="couloirGauche">couloirGauche</option>
                  <option value="couloirDroite">CouloirDroite</option>
                  
                </select><br/>
                <P>CHOISIR UN NUMERO DE CHAMBRE</P>
                <input type="number" id="lname" name="numeroChambre" [(ngModel)]="user.numeroChambre" placeholder="numero de chambre" ><br/>
                <p>CHOIX DES POSITIONS DE VOTRE CHAMBRE</p>
                <select id="position" name="position" [(ngModel)]="user.position" ><br/>
                  <option value="positionGauche">Position Gauche</option>
                  <option value="positionDroite">Position Droite</option>
                </select><br/>
              
                <button (click)="reservation()">VALIDER</button>
                
              </div>       
        </form>
      </div>                                                                                                                

    </div>
    <div>
      <div class="grid3 first" style="background-color: black; width:25% ">
        <h3>Contact</h3>
        <div class="wrapper" style="background-color: rgb(42, 116, 165)">
          <dl class="address" >
            <dd><span>Telephone:</span>33 000 00 00</dd>
            <dd><span>FAX:</span>33 100 00 00</dd>
            <dd><span>E-mail:</span><a href="#">MonService@gmail</a></dd>
          </dl>
        </div>
      </div>
    <div class="grid11" style="background-color: black">
        <h3>Contact via notre E-mail</h3>
        <form action="" id="contacts-form">
          <fieldset>
            <div class="grid6 first">
              <label>NOM:<br />
                <input type="text" value="nom" />
              </label>
              <label>E-mail:<br />
                <input type="email" value="adresse Email" />
              </label>
              <label>Faxe:<br />
                <input type="text" value="faxe" />
              </label>
            </div>
            <div class="grid3" style="background-color: black">Message:<br />
              <textarea></textarea>
              <div class="alignright" style="background-color: brown">
                <a href="#" class="alt"  onClick="document.getElementById('contacts-form').reset()">Clear</a> &nbsp; &nbsp; &nbsp;<a href="#" class="alt" onClick="document.getElementById('contacts-form').submit()">Submit</a>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    
  </section>


	<footer>
		<div class="container" style="position:initial">
			<div class="wrapper" style=" background-color: black">
				<div class="copy" style="color:black ; width: 1000%">SAMA Codification (c) 2018	</div>
			</div>
    </div>
    
    
  </footer>

