<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="assets/css/reset.css" type="text/css" media="all">
	<link rel="stylesheet" href="assets/css/grid.css" type="text/css" media="all">
  <link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all">
  <link rel="Stylesheet" href="css/reservation.component.css">
	<!--[if lt IE 9]-->
		<script type="text/javascript" src="assets/js/html5.js"></script>
	<!--[endif]-->
</head>

<body>

    <img src="assets/images/images1.jpg" class="rounded float-right" alt="...">
    <img src="assets/images/images2.jpg" class="rounded float-right" alt="...">
    <img src="assets/images/images.jpg" class="rounded float-right" alt="...">
	<header>

		<section class="adv-content">
			<div class="container">
				<ul class="breadcrumbs">
					<li>Merci pour votre visite sur notre site web!</li>
				</ul>
				<form action="" id="search-form">
					<fieldset>
						<input type="text" value=""><input type="submit" value="">
					</fieldset>
				</form>
			</div>
		</section>
	</header>
	<section id="content">
		<div class="top">
			<div class="container">
				<div class="clearfix">
					<div class="grid3 first">
            <h2>Reservation</h2>
                <ul>
               <li>-choix des batiments</li>
               <li>-choix  des etages </li>
               <li>-choix des chambres</li>
               <li>-choix des des des positions de lits</li>
               <li>-lavabo ,douche, et WC</li>
                </ul>
					</div>
					<div class="grid9">
						<h2>Faites votre reservation ici</h2>		
          </div>
						
					</div>
				</div>
			</div>




    <div class="container">
      <div class="card"></div>
      <div class="card">
        <h1 class="title">Faites vos choix</h1>
        <form>
            <div class="input-container">
                <p>CHOIX DES BATIMENTS</p>
                <select id="country" name="country"><br/>
                  <option value="batimentA">Batiment A</option>
                  <option value="batimentB">Batiment B</option>
                  <option value="batimentC">Batiment C</option>
                  <option value="batimentF">Batiment F</option>
                </select><br/>
                <p>CHOIX DES ETAGES</p>
                <select>
                    <option value="etage1">premier etage</option>
                    <option value="etage2">deuxieme etage</option>
                    <option value="etage3">troisieme etage</option>
                    <option value="etage4">quatrieme etage</option>
                    <option value="etage0">raid de saucet</option>
                </select>
                <P>CHOIX DES COULOIRS</P>
                <select id="country" name="couloir"><br/>
                  <option value="couloirGauche">couloirGauche</option>
                  <option value="couloirDroite">CouloirDroite</option>
                  
                </select><br/>
                <P>CHOISIR UN NUMERO DE CHAMBRE</P>
                <input type="number" id="lname" name="numero" placeholder="numero de chambre" ><br/>
                <p>CHOIX DES POSITIONS DE VOTRE CHAMBRE</p>
                <select id="country" name="etage"><br/>
                  <option value="positionGauche">Position Gauche</option>
                  <option value="positionDroite">Position Droite</option>
                </select><br/>
              
                <input type="submit" value="VALIDER" style="background: red">
              </div>       
        </form>
      </div>                                                                                                                

    </div>






    <div class="grid3 first">
        <h3>Contact</h3>
        <div class="wrapper">
          <dl class="address">
            <dd><span>Telephone:</span>33 000 00 00</dd>
            <dd><span>FAX:</span>33 100 00 00</dd>
            <dd><span>E-mail:</span><a href="#">MonService@gmail</a></dd>
          </dl>
        </div>
      </div>
    <div class="grid6">
        <h3>Contact via notre E-mail</h3>
        <form action="" id="contacts-form">
          <fieldset>
            <div class="grid3 first">
              <label>NOM:<br />
                <input type="text" value="nom" />
              </label>
              <label>E-mail:<br />
                <input type="email" value="adresse Email" />
              </label>
              <label>Faxe:<br />
                <input type="text" value="faxe" />
              </label>
            </div>
            <div class="grid3">Message:<br />
              <textarea></textarea>
              <div class="alignright">
                <a href="#" class="alt" onClick="document.getElementById('contacts-form').reset()">Clear</a> &nbsp; &nbsp; &nbsp;<a href="#" class="alt" onClick="document.getElementById('contacts-form').submit()">Submit</a>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
	</section>
	<footer>
		<div class="container">
			<div class="wrapper">
				<div class="copy">SAMA Codification (c) 2018	</div>
			</div>
		</div>
	</footer>
</body>
</html>
