/* You can add global styles to this file, and also import other style files */
        @import "~@angular/material/prebuilt-themes/indigo-pink.css";


#imag{
    background-image: url('assets/polygon.jpg');

}
.now{
    background-color: blue;
    height: 60px;
    width: 20px;
}