  <!-- Mixins-->
  <!-- Pen Title-->
  <div class="box" style="background-color: rgb(174, 194, 174)">
  <div class="pen-title">
      <div style="text-align:center">
          <h1>
              Bienvenue {{ title }}!
            </h1>
          
          </div>
    <h1>Connectez-vous  sur SAMA CODIFICATION</h1>
  </div>
  <div class="rerun"><a href="">ou  CREER UN NOUVEAU COMPTE</a></div>
  <div class="container">
    <div class="card"></div>
    <div class="card" style="background-color: rgb(136, 121, 177)">
      <h1 class="title">CREATION DE COMPTE</h1>
      
      <form>
          <div class="input-container">
              <input type="text" id="prenom" name="prenom" [(ngModel)]="user.prenom" required="required"/>
              <label for="prenom">Prenom</label>
              <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="text" id="nom" name="nom"[(ngModel)]="user.nom" required="required"/>
                <label for="nom">Nom</label>
                <div class="bar"></div>
              </div>
            
            <div class="input-container">
                <input type="date" id="dateNaiss" name="dateNaiss" [(ngModel)]="user.dateNaiss" required="required"/>
                <label for="dateNaiss">Date de Naissance</label>
                <div class="bar"></div>
              </div>
              <div class="input-container">
                  <input type="text" id="villeNaiss" name="villeNaiss" [(ngModel)]="user.villeNaiss" required="required"/>
                  <label for="villeNaiss">Lieu de Naissance</label>
                  <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="email" id="email" name="email" [(ngModel)]="user.email" required="required"/>
                    <label for="email">Email</label>
                    <div class="bar"></div>
                  </div>
                  <div class="input-container">
                      <input type="text" id="departement" name="departement" [(ngModel)]="user.departement" required="required"/>
                      <label for="departement">departement</label>
                      <div class="bar"></div>
                    </div>
                    <div class="input-container">
                      <input type="text" id="option" name="option" [(ngModel)]="user.option" required="required"/>
                      <label for="option">option</label>
                      <div class="bar"></div>
                    </div>
                    <div class="input-container">
                      <input type="text" id="niveau" name="niveau" [(ngModel)]="user.niveau" required="required"/>
                      <label for="niveau">niveau</label>
                      <div class="bar"></div>
                    </div>

                    <div class="input-container">
                      <input type="text" id="username" name="username" [(ngModel)]="user.uername" required="required"/>
                      <label for="username">username</label>
                      <div class="bar"></div>
                    </div>
        <div class="input-container">
          <input type="password" id="password" name="password" [(ngModel)]="user.password" required="required"/>
          <label for="password">votre mot de passe</label>
          <div class="bar"></div>
        </div>
       
  
        <div class="button-container" style="background-color: darkgreen">
          <button (click)="compte()"><span>VALIDER</span></button>
        </div>
        <div class="footer" style="background-color: blue"><a href="#">Recuperer votre validation sur ton compte Email</a></div>
      </form>
    </div>
    

  </div>
  </div>

  