
  <!DOCTYPE html>
  <html lang="en" >
  
  <head>
    <meta charset="UTF-8">
    <title>Material Login Form</title>
    
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  
        <link rel="stylesheet" href="css/home.component.css">
  
    
  </head>
  
  <body>
      
  
    
  <!-- Mixins-->
  <!-- Pen Title-->
  <div class="box">
  <div class="pen-title">
      <div style="text-align:center">
          <h1>
              Bienvenue {{ title }}!
            </h1>
          
          </div>
    <h1>Connectez-vous  sur SAMA CODIFICATION</h1>
  </div>
  <div class="rerun"><a href="">ou  CREER UN NOUVEAU COMPTE</a></div>
  <div class="container">
    <div class="card"></div>
    <div class="card">
      <h1 class="title">CREATION DE COMPTE</h1>
      <form>
          <div class="input-container">
              <input type="#{type}" id="#{label}" required="required"/>
              <label for="#{label}">Prenom</label>
              <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="#{type}" id="#{label}" required="required"/>
                <label for="#{label}">Nom</label>
                <div class="bar"></div>
              </div>
            
            <div class="input-container">
                <input type="#{type}" id="#{label}" required="required"/>
                <label for="#{label}">Date de Naissance</label>
                <div class="bar"></div>
              </div>
              <div class="input-container">
                  <input type="#{type}" id="#{label}" required="required"/>
                  <label for="#{label}">Lieu de Naissance</label>
                  <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="#{type}" id="#{label}" required="required"/>
                    <label for="#{label}">Email</label>
                    <div class="bar"></div>
                  </div>
                  <div class="input-container">
                      <input type="#{type}" id="#{label}" required="required"/>
                      <label for="#{label}">departement</label>
                      <div class="bar"></div>
                    </div>
                    <div class="input-container">
                      <input type="#{type}" id="#{label}" required="required"/>
                      <label for="#{label}">option</label>
                      <div class="bar"></div>
                    </div>
                    <div class="input-container">
                      <input type="#{type}" id="#{label}" required="required"/>
                      <label for="#{label}">niveau</label>
                      <div class="bar"></div>
                    </div>
        <div class="input-container">
          <input type="#{type}" id="#{label}" required="required"/>
          <label for="#{label}">votre mot de passe</label>
          <div class="bar"></div>
        </div>
  
        <div class="button-container">
          <button><span>VALIDER</span></button>
        </div>
        <div class="footer"><a href="#">recuperer votre validation sur ton compte Email</a></div>
      </form>
    </div>

  </div>
  </div>
  
  </body>
  
  </html>
  