  <!-- Mixins-->
  <!-- Pen Title-->
  <div class="box" style="background-color: darkgreen">
  <div class="pen-title">
      <div style="text-align:center">
          <h1>
              Bienvenue {{ title }}!
            </h1>
          
          </div>
    <h1>Connectez-vous  sur SAMA CODIFICATION</h1>
  </div>
  <div class="rerun"><a href="">ou  CREER UN NOUVEAU COMPTE</a></div>
  <div class="container">
    <div class="card"></div>
    <div class="card" style="background-color: rgb(58, 12, 184)">
      <h1 class="title">CREATION DE COMPTE</h1>
      
      <form>
          <div class="input-container">
              <input type="text" id="#{label}" required="required"/>
              <label for="#{label}">Prenom</label>
              <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="text" id="#{label}" required="required"/>
                <label for="#{label}">Nom</label>
                <div class="bar"></div>
              </div>
            
            <div class="input-container">
                <input type="date" id="#{label}" required="required"/>
                <label for="#{label}">Date de Naissance</label>
                <div class="bar"></div>
              </div>
              <div class="input-container">
                  <input type="text" id="#{label}" required="required"/>
                  <label for="#{label}">Lieu de Naissance</label>
                  <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="email" id="#{label}" required="required"/>
                    <label for="#{label}">Email</label>
                    <div class="bar"></div>
                  </div>
                  <div class="input-container">
                      <input type="text" id="#{label}" required="required"/>
                      <label for="#{label}">departement</label>
                      <div class="bar"></div>
                    </div>
                    <div class="input-container">
                      <input type="text" id="#{label}" required="required"/>
                      <label for="#{label}">option</label>
                      <div class="bar"></div>
                    </div>
                    <div class="input-container">
                      <input type="text" id="#{label}" required="required"/>
                      <label for="#{label}">niveau</label>
                      <div class="bar"></div>
                    </div>
        <div class="input-container">
          <input type="text" id="#{label}" required="required"/>
          <label for="#{label}">votre mot de passe</label>
          <div class="bar"></div>
        </div>
       
  
        <div class="button-container" style="background-color: darkgreen">
          <button><span>VALIDER</span></button>
        </div>
        <div class="footer" style="background-color: blue"><a href="#">Recuperer votre validation sur ton compte Email</a></div>
      </form>
    </div>
    

  </div>
  </div>

  